body {
  background-attachment: scroll;
  background: linear-gradient(white, coral);
  height: 5000px;
}

div {
  width: 100px;
  height: 100px;
  font-weight: 700;
  text-align: center;
  line-height: 100px;
}

.position-static {
  position: static;
  background: aquamarine;
}

.position-relative {
  position: relative;
  background-color: rgb(224, 168, 193);
  left: 100px;
  /* top : 50px; */
  bottom: 30px;
  right: 15px;
}


.position-absolute {
  background-color: gold;
  position: absolute;
  top: 0;
}


.position-fixed {
  background-color: rgb(118, 218, 251);
  position: fixed;
  top: 600px;
  left: 900px;
}
/* sticky : top속성의 위치에 도달했을 때 부터 해당 위치에 고정 

*/
.position-sticky {
  position: sticky;
  top: 0;
  /* 뷰포트의 최상단에 도달했을 때 고정 */
  background-color: palegreen;
}

.sticky-container {
  width: 100vw;
  height: 1200px;
  background: rgb(202, 167, 167);
}
