.container {
  display: flex;
  width: 350px;
  height: 200px;
  background-color: antiquewhite;
  flex-direction: column;
  flex-wrap: wrap;
}
.item {
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}
.item1 {
  background-color: red;
}
.item2 {
  background-color: rgb(255, 153, 0);
}
.item3 {
  background-color: rgb(255, 255, 0);
}
.item4 {
  background-color: rgb(17, 152, 17);
}
.item5 {
  background-color: rgb(47, 30, 224);
}
